.create-article {
    display: block;
    background-color: #c9d6e0;
    border: 1px solid #c9d6e0;
    text-align: center;
}

.btn-delete-article, .btn-edit-article {
    background-color: #53687c;
    border: 1px solid #53687c;
    color: white;
}

.remove-a-color {
    color: #181818;
    text-decoration: none;
}

/* read article */
.wrapper-read-article {
    border: 2.5px solid #181818;
}

.article-content {
    min-height: 20rem;
}

.btn-delete-inner-btn {
    paddding: 0;
    margin: 0;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
}