<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PastLife</title>
    <style>
        #main-title, .main-text {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 id="main-title">내 전생의 직업은!!!!</h1>
    <div class="main-text">{{ name }}님의 전생의 직업은!!!</div>
    <div class="main-text">{{ pjob }} (이)었습니다.</div>
</body>
</html>